.head{
    margin-top: -16px;
    text-align: center;
    color: blue;
}  
.header-1-icon{
    color: blue;;
}
p{
    font-size: 80px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.span-head{
    color: red;
}
hr{
    width: 100%;
    margin-top: -2rem;
}